@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital@1&display=swap');


.container{
    border-width: 5px;
    border-style: dotted;
    border-color: aliceblue;
}
header{
    font-family: 'Playfair Display SC';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    margin-bottom: 40px;
}
body {
    font-family:'Playfair Display SC';
    font-size: 16px;
    color: rgb(243, 237, 238);
    background-color: rgb(59,70,92);
    margin-top: 0px;
}
tbody tr td {
    width: auto;
    text-align: center;
}
body nav {
    width: auto;
    background-color: rgb(34,39,54);
    border-width: thick;
    border-color: rgb(211,232,224);
}
.content {
    background-color: rgb(31,36,48);
}
a:link {
    color: rgb(248, 244, 185);
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: rgb(166, 172, 243);
}
a:hover {
    text-decoration: underline;
    color: rgba(231, 186, 109, 0.685);
}
a:active {
    text-decoration: none;
    color: rgba(188,238,153,1);
}
h1 {
    font-size: 36px;
    color: rgb(237, 215, 142);
}
h2 {
    font-size: 24px;
    color: rgb(243, 240, 162);
}
h3 {
    font-size: 18px;
    color: rgb(239, 236, 170);
}
h4{
    color:transparent;
    font-size:3em;
    background: linear-gradient(to right, #fff,#333,#fff);
    -webkit-background-clip: text;
    background-size: 80%;
    background-repeat: no-repeat;
    animation: move 3s linear infinite;
}
@keyframes move{
    0%{
        background-position: -500%;

    }
    100%{
        background-position: 500%;

    }
}
p {
    font-size: 14px;
    color: rgb(233,232,212);
    margin: auto;
}

footer {
    height: 65px;
    width: 100%;
    background-color: rgba(6, 7, 72, 0.657);
    color: rgba(239,228,228,1.00);
}

.flex-container {
    display: flex;
    background-color: rgba(11, 40, 103, 0.882);
    justify-content: space-around;
}
.box1 {
    color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-color: rgba(153, 171, 201, 0.85);
    animation-name: flexanimation; 
    animation-delay: 2s;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}
.box2 {
    color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-color:  rgba(153, 171, 201, 0.85);
    animation-name: flexanimation; 
    animation-delay: 4s;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}
.box3 {
    color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-color:  rgba(153, 171, 201, 0.85);
    animation-name: flexanimation; 
    animation-delay: 6s;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}
.box4 {
    color: white;
    margin: 10px;
    padding: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    background-color: rgba(153, 171, 201, 0.85);
    animation-name: flexanimation; 
    animation-delay: 8s;
    animation-duration: 2s;
    animation-direction: alternate-reverse;
}
@keyframes flexanimation { 
      from {background-color: rgba(153, 171, 201, 0.85) ;}
      to {background-color: rgba(240, 248, 255, 0.934);}
      100% { 
        flex-grow: 4; 
      }
    }
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      #div {
        font-family: 'Cormorant Garamond';
        font-size: 15px;

      }
      #p1 {
        position: relative;
        background: rgba(240, 248, 255, 0.934);
        color: black;
        font-size: 30px;
        top: 20px;
        left: 20px;
        transition: 4s ease;
      }
    
    #p1:hover {
        -webkit-transform: rotateZ(180deg);
        -ms-transform: rotateZ(180deg);
        transform: rotateZ(180deg);
        transition: 2s ease;
        background-color: rgba(153, 171, 201, 0.85);
    }
    
    #p2 {
        transition: 3s ease;
        background-color: rgba(153, 171, 201, 0.85);
    }
    
    #p2:hover {
        -webkit-transform: rotateZ(-360deg);
        -ms-transform: rotateZ(-360deg);
        transform: rotateZ(-360deg);
        transition: 2s ease;
        background-color: rgba(153, 171, 201, 0.85);
    }
    #picScroll {
            display: flex;
            justify-content: center;
			margin:0;
            align-items: center;
            min-height: 100vh;
            background-color: bisque;
        }
    
        ul.slides{
            position: relative;
            width: 800px;
            height: 900px;
            list-style: none;
            margin: 0;
            padding: 0;
            background-color: #eee;
            overflow: hidden;
        }
        li.slide{
            width: inherit;
            height: inherit;
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            transition: .5s transform ease-in-out;
        }
        .slide:nth-of-type(1){
            background:url(../pics/1.png) no-repeat;
            background-size: cover;
            background-position: top;
        }

        .slide:nth-of-type(2){
            background:url(../pics/2.png) no-repeat;
            background-size: cover;
            background-position: top;
            left: 100%;
        }
 
        .slide:nth-of-type(3){
            background:url(../pics/3.png) no-repeat;
            background-size: cover;
            background-position: top;
            left: 200%;
        }
 
        .slide:nth-of-type(4){
            background:url(../pics/4.png) no-repeat;
            background-size: cover;
            background-position: top;
            left: 300%;
        }
 
        .slide:nth-of-type(5){
            background:url(../pics/5.png) no-repeat;
            background-size: cover;
            background-position: top;
            left: 400%;
        }
     
     input[type="radio"]{
        position: relative;
        z-index: 100;
        display: none;
    }

    
    .controls-visible{
        position: absolute;
        width: 100%;
        bottom: 12px;
        text-align: center;
    }

    
    .controls-visible  label{
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 5px;
        border: 2px solid #fff;
    }
    .slides input[type="radio"]:nth-of-type(1):checked~
    .controls-visible label:nth-of-type(1)
    {
        background-color: #333;
    }
    .slides input[type="radio"]:nth-of-type(2):checked~
    .controls-visible label:nth-of-type(2)
    {
        background-color: #333;
    }
    .slides input[type="radio"]:nth-of-type(3):checked~
    .controls-visible label:nth-of-type(3)
    {

        background-color:#333;
    }
    .slides input[type="radio"]:nth-of-type(4):checked~
    .controls-visible label:nth-of-type(4)
    {
        background-color: #333;
    }
    .slides input[type="radio"]:nth-of-type(5):checked~
    .controls-visible label:nth-of-type(5)
    {
        background-color: #333;
    }
   
    .slides input[type="radio"]:nth-of-type(1):checked~.slide{

        transform: translateX(0%);

    }
    .slides input[type="radio"]:nth-of-type(2):checked~.slide{
 
        transform: translateX(-100%);

    }
    .slides input[type="radio"]:nth-of-type(3):checked~.slide{

        transform: translateX(-200%);

    }
    .slides input[type="radio"]:nth-of-type(4):checked~.slide{

        transform: translateX(-300%);

    }
    .slides input[type="radio"]:nth-of-type(5):checked~.slide{

        transform: translateX(-400%);

    }

    #pp2{
		width:9999px;
		height:1000px;
		animation:switch 15s infinite;
		}
		#pp2>img{
		float:left;
		}
		#pp1{
		width:1000px;
		height:auto;
		overflow:hidden;
		}
		@keyframes switch{
		0%{};
		20%{transform:translateX(0px);}
		40%{transform:translateX(-1000px);}
		60%{transform:translateX(-2000px);}
		80%{transform:translateX(-3000px);}
		100%{transform:translateX(-4000px);}
		}
